body {
	background-color: #FAF6F6;
}

body h1, body h3 {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

body h3 {
	font-size: 1.5vmax;
}

body img {
	width: auto;
	min-height: 20vmax;
	max-height: 1vmin;
	border-top: 30px;
	border-bottom: 30px;
	border-style: inset;
	border-color: black;
	display:block;
	margin: auto;
}

a {
	text-decoration: none;
	color: grey;
}

a:hover {
	text-decoration: underline;
}

input, textarea, select {
	margin-left: 10px;
	font-weight: lighter;
	border: none;
    outline: 0;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border: none;
}

.pure-g [class *="p-theme"] {
	/* Set your content font stack here: */
	font-family: monospace;
}

.p-theme {
	text-align: center;
	font-size: 0.95vmax;
}

.p-footer {
	margin-top: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#tiny {
	font-size: 40%;
}
