
#tiny {
	font-size: 40%;
}

body h1, body h3 {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

body img {
	border-top: 30px;
	border-bottom: 30px;
	border-style: inset;
	border-color: black;
	display:block;
	margin: auto;
}
