
#tiny {
	font-size: 40%;
}

body {
	background-color: #F7F5FB;
}

body h1, body h3 {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

body img {
	width: auto;
	min-height: 20vmax;
	max-height: 1vmin;
	border-top: 30px;
	border-bottom: 30px;
	border-style: inset;
	border-color: black;
	display:block;
	margin: auto;
}
